.window {
    position: fixed;
    right: 160px;
    min-width: 40%;
    height: 60px;
    background-color: #dfe5ff;
    top: 90px;
    z-index: 1;
    border-radius: 5px; 
    opacity: 0.95;
}

.title {
    margin-bottom: 0;
    color: black;
    font-weight: bold;
    margin-bottom: 1px;
    padding-left: 10px;
}

.editRow {
    margin-right: 0;
    margin-left: 0;
}

.genreInput{
    height: 30px;
    background-color: white;
}

.confirm {
    width: 30%;
    border-radius: 5px;
    height: 30px;
    background-color: white;
    line-height: 1;
}

.errorMessages{
    width: 100%;
    color: "#FF0000";
    background-color: "#dfe5ff"; 
}